/* General site style */
* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background-image: url('./images/olga-thelavart-vS3idIiYxX0-unsplash.jpg');
    background-repeat: repeat;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

h1,
h2 {
    font-weight: 700;
}

p,
li {
    font-weight: 500;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header style */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #000;
    box-shadow: 0px 3px 5px slategray;
}

.name-and-title-container {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.name-and-title-container h1 {
    margin-bottom: 0;
}

.name-and-title-container h3 {
    margin-top: 0;
    text-align: center;
}

/* Main content style */
main {
    display: flex;
}

.skills-courses-edu {
    min-width: 40%;
    box-shadow: inset -5px 0 7px -5px slategray;
}

ul {
    padding: 5px;
}

.work-experience, .skills-courses-edu, footer {
    padding-left: 15px;
}

.skills-courses-edu li,
.description > li {
    margin-bottom: 7px;
}

.job-title {
    font-size: 19px;
    text-decoration: underline;
}

ul[class='description'] li {
    list-style-type: circle;
    margin-left: 20px;
}

/* Slider feature style */
.left-cover {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 3s;
}

.right-cover {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 3s;
}

.left-cover.uncover {
    left: -50%;
}

.right-cover.uncover {
    transform: translateX(100%);
}

.slider-feature-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 7px;
    border-radius: 10px;
}

.slider-feature-container p {
    text-align: center;
    color: aliceblue;
    padding: 5px;
}

button {
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 3px 3px 5px slategray;
    cursor: pointer;
}

.slider-feature-container.uncover {
    display: none;
}

/* Make the site responsive for smaller screens */
@media (max-width: 600px) {
    header img {
        height: 150px;
    }
    .name-and-title-container h1 {
        font-size: large;
        text-align: center;
    }
    .name-and-title-container h3 {
        font-size: medium;
    }
    .contact-and-links > p {
        font-size: 12px;
        text-align: center;
    }
    .contact-and-links i {
        display: block;
    }
    main {
        display: flow-root;
    }
    .skills-courses-edu {
        box-shadow: none;
    }
    .slider-feature-container {
        top: 10%;
    }
}
