* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background-image: url('./images/olga-thelavart-vS3idIiYxX0-unsplash.jpg');
    background-repeat: repeat;
    margin: 0;
    position: relative;
}

h1,
h2 {
    font-weight: 700;
}

p,
li {
    font-weight: 500;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #000;
    box-shadow: 0px 3px 5px slategray;
}

.name-and-title-container {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.name-and-title-container h1 {
    margin-bottom: 0;
}

.name-and-title-container h3 {
    margin-top: 0;
    text-align: center;
}

main {
    display: flex;
}

.skills-courses-edu {
    min-width: 40%;
    padding: 5px;
    box-shadow: inset -5px 0 7px -5px slategray;
}

ul,
.work-experience > h2,
.work-experience > p {
    padding: 5px;
}

.skills-courses-edu li,
.description > li {
    margin-bottom: 7px;
}

.job-title {
    font-size: 19px;
    text-decoration: underline;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /* z-index: 1; */
    /* background-color: aqua; */
    display: flex;
}

.left-cover,
.right-cover {
    width: 50%;
    height: 100%;
    border: 3px solid red;
    background-color: rgba(0, 0, 0, 0.8);
    /* transition: all 3s; */
}

/* .left-cover {
    position: absolute;
    left: 0;
} */

/* .left-cover.uncover {
    left: -50%;
} */

button {
    margin: 50% 10%;
}

/* .cover.uncover {
    left: -50%;
} */

@media (max-width: 600px) {
    header img {
        height: 150px;
    }
    .name-and-title-container h1 {
        font-size: large;
        text-align: center;
    }
    .name-and-title-container h3 {
        font-size: medium;
    }
    .contact-and-links > p {
        font-size: 12px;
        text-align: center;
    }
    .contact-and-links i {
        display: block;
    }
}
